body{
    --test-border:0px solid black;
    --margin-all-side:150px;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;

}

h1,h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

h2{
    font-size: 1.2em;
}

h1{
    font-weight: 300;
}

p{
    margin: 0px;
}


/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px var(--margin-all-side);
    border:var(--test-border);
    /* flex-wrap: wrap; */
}
.header-background{
    position: absolute;
    top: -120px;
    width: 100%;
    z-index: -1;
    height: 600px;
    background-color: #BF0A19;
    transform: skewY(-10deg);
    
}
.header-container{
    display: flex;
    align-items: center;
}

.header-image-container img{
    max-width: 300px;
}

.header-image-container{
    position: relative;
}


.captain-name{
    margin: 0px;
    padding: 0xp;
    width: 100%;
    transform: translateY(-60px);
    position: absolute;
    color: wheat;
    font-size: 2.5em;
    text-align: center;
}

.about-me-container{
    line-height: 30px;
    border: var(--test-border);
    box-shadow: 0px 0.01em 1em black;
    padding: 30px;
    background-color: aliceblue;
}

.about-me-container h2{
    font-weight: 500;
    font-size: 2.5em;
}

.about-me-container p{
    font-size: 1.5em;
}
.social-logos{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 60px;
}

.social-logos img{
    width: 30px;
}

/* main */
main{
    margin:60px var(--margin-all-side);
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 60px;
}

.project{
    justify-self: center;
    box-shadow: 0px 0.01em 1em black;
    /* border: 1px solid black; */
}

.project-image-container{
    height: 260px;
    width: 100%;
    background-color: red;
}

.project-content{
    padding: 10px 30px 30px 40px;
    font-size: 1.2em;
}

.project-header{
    display: flex;
    justify-content: space-between;
}

.project-header h2{
    margin: 0px;
    padding: 0px;
}

.project-logos{
    display: flex;
    gap: 15px;
}

.project-logos img{
    width: 30px;
}





/* footer */

footer{
    --logo-width:20px;
    background-color: blue;
    color: white;
    display: flex;
    font-size: 1.5em;
    /* gap: 50px; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.phone-number img,.email img{
    width:var(--logo-width) ;

}

.contact-me-container{
    max-width:300px;
}

.contact-me-container > *{
    margin-bottom: 20px;
}

.phone-number,.email{
    display: flex;
    gap: 10px;
}


.contact-logo{
    display: flex;
    gap: 20px;
}

.contact-logo img{
    width: 40px;
}

.footer-image-container{
    flex: 1 1 300px;
    max-width: 700px;
}

.footer-image-container img{
    max-width: 100%;
}

@media (max-width:600px){
    body{
        --margin-all-side:50px;
    }

    header{
        margin: 50px var(--margin-all-side);
    }

    .header-container{
        flex-wrap: wrap;
    }
    .captain-name{
        transform: translateY(-110px);
    }
    .social-logos{
        justify-content: center;
    }


    .project-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 20px;
    }

    .header-image-container img{
        max-width: min(100%,500px);
    }
    footer{
        justify-content: center;
    }
    
}



@media (min-width:600px) and (max-width:1200px){
    body{
        --margin-all-side:100px;
    }
    .header-container{
        display: block;
    }
    .header-image-container{
        float: left;
        height: auto;
        width: 200px;    
        
    }

    .captain-name{
        transform: translate(-80px,-170px);
    }

    .header-image-container img{
        position: relative;
        right: 70px;
        bottom:50px;
        width: 250px;

    }
    .project-container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 40px;
    }
}