body{
    --test-border:0px solid black;
    --margin-all-side:150px;
    --theme-color:#BF0A19;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;

}

h1,h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

h2{
    font-size: 1.2em;
}

h1{
    font-weight: 300;
}

p{
    margin: 0px;
}


/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px var(--margin-all-side);
    border:var(--test-border);
    /* flex-wrap: wrap; */
}
.header-background{
    position: absolute;
    top: -120px;
    width: 100%;
    z-index: -1;
    height: 600px;
    background-color: var(--theme-color);
    transform: skewY(-10deg);
    
}
.header-container{
    display: flex;
    align-items: center;
}

.header-image-container img{
    max-width: 300px;
}

.header-image-container{
    position: relative;
}


.captain-name{
    margin: 0px;
    padding: 0xp;
    width: 100%;
    transform: translateY(-60px);
    position: absolute;
    color: wheat;
    font-size: 2.5em;
    text-align: center;
}

.about-me-container{
    line-height: 30px;
    border: var(--test-border);
    box-shadow: 0px 0.01em 1em black;
    padding: 30px;
    background-color: aliceblue;
}

.about-me-container h2{
    font-weight: 500;
    font-size: 2.5em;
}

.about-me-container p{
    font-size: 1.5em;
}
.social-logos{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 60px;
}

.social-logos img{
    width: 30px;
}

@media (max-width:600px){
    body{
        --margin-all-side:30px;
    }

    header{
        margin: 50px var(--margin-all-side);
    }

    .header-container{
        flex-wrap: wrap;
    }
    .captain-name{
        transform: translateY(-70px);
    }
    .about-me-container{
        box-shadow: 0px 0px 0px ;
        background-color: white;
        padding: 0px;
    }

    .about-me-container h2{
        text-align: center;
    }
    .social-logos{
        margin-top:20px;
        justify-content: center;
    }


    .project-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 20px;
    }

    .header-image-container img{
        max-width: min(100%,400px);
    }
    
}



@media (min-width:600px) and (max-width:1200px){
    body{
        --margin-all-side:100px;
    }
    .header-container{
        display: block;
    }
    .header-image-container{
        float: left;
        height: auto;
        width: 200px;    
        
    }

    .captain-name{
        transform: translate(-80px,-170px);
    }

    .header-image-container img{
        position: relative;
        right: 70px;
        bottom:50px;
        width: 250px;

    }
}

/* main */
main{
    margin:60px var(--margin-all-side);
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 60px;
}

.project{
    justify-self: center;
    box-shadow: 0px 0.01em 1em black;
    /* border: 1px solid black; */
}

.project-image-container{
    height: 260px;
    width: 100%;
    background-color: var(--theme-color);
}

.project-image-container img{

    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-content{
    padding: 10px 20px 70px 20px;
    font-weight: 300;
}

.project-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-header h2{
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
    font-weight: 500;
}

.project-logos{
    display: flex;
    gap: 15px;
}

.project-logos img{
    width: 25px;
}





/* footer */

footer{
    --logo-width:20px;
    background-color: var(--theme-color);
    color: white;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 50px var(--margin-all-side);
}

.phone-number img,.email img{
    width:var(--logo-width) ;

}

.contact-me-container{
    max-width:350px;
}

.contact-me-container h1{
    font-size: 2.5em;
    font-weight: 400;
}

.contact-me-container p{
    font-size: 1.3em;
}

.contact-me-container > *{
    margin-bottom: 20px;
}

.phone-number,.email{
    display: flex;
    gap: 10px;
}


.contact-logo{
    display: flex;
    gap: 20px;
}

.contact-logo img{
    width: 30px;
}

.footer-image-container{
    max-width: 650px;
}

.footer-image-container img{
    max-width: 100%;
}


@media (max-width:600px){
    footer{
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;

    }
    .footer-image-container img{
        height: 100%;
    }

    .contact-me-container{
        padding: var(--margin-all-side);
        width: 100%;
        margin-bottom: 60px;
    }

    .contact-me-container h1{
        text-align: center;
    }

    .contact-logo{
        justify-content: center;
    }
    
}
