body{
    --test-border:2px solid black;
    --margin-all:0px 80px;
}


/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-all);
    border:var(--test-border);
}

.header-image-container img{
    width: 500px;
}

.about-me-container{
    font-size: 1.5em;
    line-height: 30px;
    border: var(--test-border);
    padding: 30px;
}
.social-logos{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 60px;
}

.social-logos img{
    width: 25px;
}

/* main */
main{
    margin:var(--margin-all);
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.project{
    height: 300px;
    width: 100%;
    background-color: red;
    justify-self: center;
    border: 1px solid black;
}
